<div class="nav">
  <h2>RizePoint</h2>
  <ul>
    <li *ngFor="let navItem of navItems" class="ico-{{navItem.icon}}" [ngClass]="selectedNavItem == navItem ? 'selected' : ''" (click)="onSelect(navItem)">
      <a>{{navItem.title}}</a>
      <ul *ngIf="navItem.children">
        <li *ngFor="let childItem of navItem.children"><a href="#{{navItem.title | lowercase}}/{{childItem.title | lowercase}}">{{childItem.title}}</a></li>
      </ul>
    </li>
  </ul>
</div>
