
.nav {
  display: block;
  width: 250px;
}

.nav h2 {
  text-indent: -9999px;
  display: block;
  background: url(/assets/rizepoint-logo.png) no-repeat #4f2e6a center center;
  height: 53px;
  border-bottom: solid 1px #300950;
}

.nav a {
  display: block;
  text-decoration: none;
  padding: 14px 0 14px 53px;
  color: #a392b1;
  font-size: 90%;
  border-bottom: solid 1px #300950;
  cursor: pointer;
  background: #402f50;
  background-size: 19px 19px;
}

.nav a:before {
  content: "";
  float: left;
  width: 19px;
  height: 19px;
  margin-left: -32px;
  background: url(/assets/icons.png) -8px -5px;
}

.nav li.ico-lock a:before {
  background-position: -8px -5px;
}

.nav li.ico-cal a:before {
  background-position: -36px -5px;
}

.nav li.ico-wrench a:before {
  background-position: -64px -33px;
}

.nav li.ico-sheet a:before {
  background-position: -36px -33px;
}

.nav li.ico-puzzle a:before {
  background-position: -36px -61px;
}

.nav li.ico-refresh a:before {
  background-position: -64px -5px;
}

.nav a:after {
  content: "";
  float: right;
  width: 19px;
  height: 19px;
  margin-right: 16px;
  background: url(/assets/icons.png) -8px -33px;
}

.nav ul li.selected a:after {
  background-position: -8px -61px;
}

.nav ul ul {
  display: none;
}

.nav ul ul a:before, .nav ul ul a:after {
  background-image: none;
}

.nav ul li.selected ul {
  display: block;
}

.nav ul li.selected a {
  text-decoration: none;
  color: #FFF;
  background-color: #300950;
}

.nav ul li a:hover, .nav ul li.selected a:hover {
  background-color: #4f2e6a;
  color: #FFF;
  cursor: pointer;
}
